In [1]:
import pandas as pd

iris = pd.read_csv("data/iris.csv")
print(iris)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [2]:
iris_modified = pd.read_csv("data/iris_modified.csv")
print(iris_modified)

    sepal.length;"sepal.width";"petal.length";"petal.width";"variety"
0                              5.1;3.5;1.4;.2;"Setosa"
1                                4.9;3;1.4;.2;"Setosa"
2                              4.7;3.2;1.3;.2;"Setosa"
3                              4.6;3.1;1.5;.2;"Setosa"
4                                5;3.6;1.4;.2;"Setosa"
..                                                 ...
145                          6.7;3;5.2;2.3;"Virginica"
146                          6.3;2.5;5;1.9;"Virginica"
147                            6.5;3;5.2;2;"Virginica"
148                        6.2;3.4;5.4;2.3;"Virginica"
149                          5.9;3;5.1;1.8;"Virginica"

[150 rows x 1 columns]

In [4]:
iris.to_excel("iris.xlsx", sheet_name='iris')

In [8]:
tab_przetrwania = pd.read_excel("data/tablica_a._tablica_trwania_zycia_2019.xlsx", 
                                sheet_name="miakob", 
                                engine="openpyxl")
print(tab_przetrwania)

    TABL. A.   TABLICA TRWANIA ŻYCIA 2019  \
0                                     NaN
1                                     NaN
2                              Wiek   Age
3                                     NaN
4                                       x
..                                    ...
102                                    96
103                                    97
104                                    98
105                                    99
106                                   100

                                            Unnamed: 1  \
0                            LIFE TABLE OF POLAND 2019
1                                                  NaN
2    Liczba dożywających   Number              of s...
3                                                  NaN
4                                                   lx
..                                                 ...
102                                               8551
103                                               6483
104                                               4782
105                                               3425
106                                               2377

                                          Unnamed: 2  \
0                                                NaN
1                                                NaN
2    Prawdopodobień-stwo zgonu  Probability of dying
3                                                NaN
4                                                 qx
..                                               ...
102                                           0.2418
103                                          0.26232
104                                          0.28378
105                                          0.30614
106                                          0.32934

                           Unnamed: 3  \
0                                 NaN
1                                 NaN
2    Liczba zmarłych  Number deceased
3                                 NaN
4                                  dx
..                                ...
102                              2068
103                              1701
104                              1357
105                              1048
106                               783

                                     Unnamed: 4             Unnamed: 5  \
0                                           NaN                    NaN
1                                           NaN                    NaN
2    Ludność stacjonarna  Stationary population                    NaN
3                          w wieku x   at age x  skumulowana cumulated
4                                            Lx                     Tx
..                                          ...                    ...
102                                        7517                25444.5
103                                      5632.5                17927.5
104                                      4103.5                  12295
105                                        2901                 8191.5
106                                      1985.5                 5290.5

                                            Unnamed: 6
0                                                  NaN
1                                                  NaN
2    Przeciętne dalsze trwanie życia        Life ex...
3                                                  NaN
4                                                   ex
..                                                 ...
102                                               2.98
103                                               2.77
104                                               2.57
105                                               2.39
106                                               2.23

[107 rows x 7 columns]